{% extends "DomstorTemplateBundle:Block:base_carousel_home.html.twig" %}
{% set template_name = 'collective' %}
{% block template_title %}Наши сотрудники{% endblock %}
{% block row_content %}
    {% if row.image %}
        <img src="{% path row.image, 'employee_home' %}" alt="Фото сотрудника" />
    {% endif %}
    <div class="{{template_name}}_txt">
        <p><strong>{{ row.name }}</strong></p>
        <p>{{ row.duty }}</p>
        <p>{{ row.phone }}</p>
        <p><a href="mailto:{{ row.email }}">{{ row.email }}</a></p>
    </div>
{% endblock %}
