<div class="reviews_home">
    <div class="reviews">
        <h3>{{ 'block.home.review.title'|trans({},'Block') }}</h3>
        <a id="reviews_prev" class="jcarousel_reviews-prev" href="#" data-target="#" title="{{ 'block.home.review.carousel.previous.title'|trans({},'Block') }}"></a><a id="reviews_next" class="jcarousel_reviews-next" href="#" data-target="#" title="{{ 'block.home.review.carousel.next.title'|trans({},'Block') }}"></a>
        <div class="jcarousel_reviews">
            <div id="reviews" class="owl-carousel">
                {% for row in rows %}
                    <div class="review">
                        <p><a href="{{ path('app_reviews_show', {'review': row.id}) }}" title="{{ 'block.home.review.show.title'|trans({},'Block') }}">{{ row.text|length > 127 ? row.text|slice(0, 127) ~ '...' : row.text }}</a></p>
                        <p class="data">{{ row.reviewDate|date }}</p>
                        <p class="signature">{{ row.author }}</p>
                    </div>                               
                {% endfor %} 
            </div>
        </div>
    </div>
    <p class="center"><a href="{{ url('app_reviews_list') }}" class="btn more">{{ 'block.home.review.list.title'|trans({},'Block') }}</a></p>
</div>
