<div class="reviews_home">
    <div class="reviews">
        <h3>Отзывы</h3>
        <a id="reviews_prev" class="jcarousel_reviews-prev" href="#" data-target="#" title="Предыдущий отзыв"></a><a id="reviews_next" class="jcarousel_reviews-next" href="#" data-target="#" title="Следующий отзыв"></a>
        <div class="jcarousel_reviews">
            <div id="reviews" class="owl-carousel">
                {% for row in rows %}
                    <div class="review">
                        <p><a href="{{ path('app_reviews_show', {'review': row.id}) }}" title="Смотреть отзыв полностью">{{ row.text|length > 127 ? row.text|slice(0, 127) ~ '...' : row.text }}</a></p>
                        <p class="data">{{ row.reviewDate|date('d.m.Y') }}</p>
                        <p class="signature">{{ row.author }}</p>
                    </div>                               
                {% endfor %} 
            </div>
        </div>
    </div>
    <p class="center"><a href="{{ url('app_reviews_list') }}" class="btn more">Все отзывы</a></p>
</div>
