<div class="vacancy_home">
    <div class="vacancy_content">
        <h3>Вакансии</h3>
        {% for row in rows %}
        <div class="vacancy_block">
            <h4>{{ row.title }}</h4>
            <p>{{ row.place }}</p>
            <p><strong>{{ row.salary|raw}}</strong></p>
            <p><strong>{{ row.phone }}</strong></p>
            <a class="vacancy_link" href="{{ path('app_vacancies_show', {'vacancy': row.id}) }}" title="Перейти на страницу вакансии"></a>
        </div>
        {% endfor %}
    </div>
</div>
